@tailwind base;
@tailwind components;
@tailwind utilities;

#app-root {
  font-family: var(--font-roboto), sans-serif;
}

.font-league {
  font-family: var(--font-league-gothic), sans-serif;
}

.font-gothic {
  font-family: var(--font-gothic-a1), sans-serif;
}

@layer components {
  .flip-box {
    perspective: 1000px;
    height: 200px;
  }

  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .flip-box:hover .flip-box-inner {
    transform: rotateY(-180deg);
  }

  .flip-box-front,
  .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-box-back {
    transform: rotateY(-180deg);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

